	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/07/2018 10:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}
.flaticon-down-arrow:before { content: "\f100"; }
.flaticon-mail:before { content: "\f101"; }
.flaticon-placeholder-3:before { content: "\f102"; }
.flaticon-placeholder-2:before { content: "\f103"; }
.flaticon-cloud-computing-1:before { content: "\f104"; }
.flaticon-twitter-logo-silhouette:before { content: "\f105"; }
.flaticon-up-arrow:before { content: "\f106"; }
.flaticon-download-1:before { content: "\f107"; }
.flaticon-avatar:before { content: "\f108"; }
.flaticon-upload-3:before { content: "\f109"; }
.flaticon-like:before { content: "\f10a"; }
.flaticon-right-arrow:before { content: "\f10b"; }
.flaticon-calendar-1:before { content: "\f10c"; }
.flaticon-coding:before { content: "\f10d"; }
.flaticon-smartphone:before { content: "\f10e"; }
.flaticon-phone-call:before { content: "\f10f"; }
.flaticon-right-arrows-couple:before { content: "\f110"; }
.flaticon-google-plus-logo:before { content: "\f111"; }
.flaticon-facebook-logo:before { content: "\f112"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f113"; }
.flaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f114"; }
.flaticon-earth:before { content: "\f115"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f116"; }
.flaticon-upload-2:before { content: "\f117"; }
.flaticon-external-link-symbol:before { content: "\f118"; }
.flaticon-phone-receiver:before { content: "\f119"; }
.flaticon-left-arrow:before { content: "\f11a"; }
.flaticon-money-2:before { content: "\f11b"; }
.flaticon-upload-1:before { content: "\f11c"; }
.flaticon-company:before { content: "\f11d"; }
.flaticon-conversation:before { content: "\f11e"; }
.flaticon-information:before { content: "\f11f"; }
.flaticon-worldwide:before { content: "\f120"; }
.flaticon-pdf:before { content: "\f121"; }
.flaticon-calendar:before { content: "\f122"; }
.flaticon-placeholder-1:before { content: "\f123"; }
.flaticon-money-1:before { content: "\f124"; }
.flaticon-money:before { content: "\f125"; }
.flaticon-upload:before { content: "\f126"; }
.flaticon-photo-camera:before { content: "\f127"; }
.flaticon-placeholder:before { content: "\f128"; }
.flaticon-user:before { content: "\f129"; }
.flaticon-unlink:before { content: "\f12a"; }
.flaticon-download:before { content: "\f12b"; }
.flaticon-linkedin:before { content: "\f12c"; }
.flaticon-cloud-computing:before { content: "\f12d"; }
.flaticon-record:before { content: "\f12e"; }
.flaticon-group-profile-users:before { content: "\f12f"; }
.flaticon-dot-and-circle:before { content: "\f130"; }
.flaticon-file:before { content: "\f131"; }
.flaticon-home-1:before { content: "\f132"; }
.flaticon-multiple-users-silhouette:before { content: "\f133"; }
.flaticon-home:before { content: "\f134"; }
.flaticon-dashboard:before { content: "\f135"; }
.flaticon-star-1:before { content: "\f136"; }
.flaticon-search-magnifier-interface-symbol:before { content: "\f137"; }
.flaticon-sign-out:before { content: "\f138"; }
.flaticon-group:before { content: "\f139"; }
.flaticon-bar-chart:before { content: "\f13a"; }
.flaticon-settings-gears:before { content: "\f13b"; }
.flaticon-rate-star-button:before { content: "\f13c"; }
.flaticon-web-log-in:before { content: "\f13d"; }
.flaticon-house-outline:before { content: "\f13e"; }
.flaticon-magnifying-glass-zoom-out:before { content: "\f13f"; }
.flaticon-zooming-magnifying-glass:before { content: "\f140"; }
.flaticon-sign-in:before { content: "\f141"; }
.flaticon-star:before { content: "\f142"; }
.flaticon-settings:before { content: "\f143"; }
.flaticon-cricket:before { content: "\f144"; }